<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RFIDProject.Properties.Settings.ConnectionString_Manager"
            connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=1234;PERSIST SECURITY INFO=True;USER ID=MANAGER"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>